/* Deafult style */
html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #000002;
    font-size: 1rem;
    line-height: 1.5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.1;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #000002;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.page {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

/* Font-family */
/* Btn */
.prodcard-btn {
    width: 100%;
    padding: 15px;
    color: #01AAEB;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    border: solid 3px #013E91;
    border-bottom: solid 6px #013E91;
    border-radius: 20px;
    background-color: #fff;
    transition: .2s;
}

.prodcard-btn:hover {
    cursor: pointer;
    transition: .2s;
    background-color: #013E91;
    color: #fff;
}

.prodcard-btn:active {
    background-color: #012454;
    border: solid 3px #012454;
    border-bottom: solid 6px #012454;
    transition: .1s;
}

@media (max-width: 1200px) {
    .prodcard-btn {
        padding: 10px;
        font-size: 16px;
        border-radius: 15px;
        border-bottom: solid 5px #013E91;
    }
}

@media (max-width: 715px) {
    .prodcard-btn {
        max-width: 300px;
        margin: 0 auto;
    }
}

/* Container */
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
        padding: 0 25px;
    }
}

@media (max-width: 420px) {
    .container {
        max-width: none;
        padding: 0 15px;
    }
}

/* Blocks */
.header {
    background-color: #f6f7fb;
    display: flex;
    flex-direction: column;
    z-index: 20;
}

@media (max-width: 750px) {
    .header {
        background-color: #fff;
    }
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 750px) {
    .header__top {
        flex-direction: column;
    }
}

.header__logo {
    padding: 25px;
    width: 250px;
    background-color: #fff;
}

@media (max-width: 1200px) {
    .header__logo {
        max-width: 180px;
    }
}

.header__title {
    max-width: 650px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
}

@media (max-width: 1200px) {
    .header__title {
        font-size: 16px;
        margin: 0 10px  0 40px;
    }
}

@media (max-width: 750px) {
    .header__title {
        margin: 0 0 20px;
        text-align: center;
    }
}

.header__info {
    display: flex;
    flex-direction: column;
}

@media (max-width: 750px) {
    .header__info {
        margin: 0 0 30px 50px;
    }
}

.header__number {
    margin-left: 30px;
    margin-bottom: 5px;
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #000002;
}

.header__number::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../img/icon/phone.png);
    left: -40px;
    top: 4px;
}

@media (max-width: 1200px) {
    .header__number::before {
        width: 20px;
        height: 20px;
        background-size: 20px;
        left: -35px;
    }
}

@media (max-width: 1200px) {
    .header__number {
        font-size: 14px;
        margin-left: 5px;
    }
}

@media (max-width: 750px) {
    .header__number {
        margin-bottom: 15px;
    }
}

.header__mail {
    width: 120px;
    margin-left: 30px;
    position: relative;
    font-size: 17px;
    font-weight: 300;
    text-decoration: underline;
    color: #000002;
}

.header__mail::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../img/icon/mail.png);
    left: -39px;
    top: 6px;
}

@media (max-width: 1200px) {
    .header__mail::before {
        width: 20px;
        height: 20px;
        background-size: 20px;
        left: -35px;
    }
}

@media (max-width: 1200px) {
    .header__mail {
        font-size: 14px;
        margin-left: 6px;
    }
}

.header__down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #013E91;
}

.header__down-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__main {
    position: relative;
}

.header__nav-catalog {
    width: 250px;
    padding: 15px 20px 14px 60px;
    position: relative;
    background-color: #01AAEB;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 27px;
    color: #fff;
    transition: .2s;
}

.header__nav-catalog::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    background-repeat: no-repeat;
    background: url(../img/icon/arrow_down.png) center;
    background-repeat: no-repeat;
    left: 42px;
    top: 18px;
    transition: .2s;
}

@media (max-width: 1200px) {
    .header__nav-catalog::before {
        width: 20px;
        height: 20px;
        left: 32px;
        top: 20px;
    }
}

@media (max-width: 730px) {
    .header__nav-catalog::before {
        width: 15px;
        height: 15px;
        top: 13px;
        left: 36px;
    }
}

.header__nav-catalog:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #08bafe;
    transition: .2s;
}

.header__nav-catalog:active {
    cursor: pointer;
    text-decoration: none;
    background-color: #0198d2;
    transition: .1s;
}

@media (max-width: 1200px) {
    .header__nav-catalog {
        font-size: 22px;
        padding-right: 50px;
        width: 180px;
    }
}

@media (max-width: 730px) {
    .header__nav-catalog {
        order: 2;
        font-size: 18px;
        width: 170px;
        padding: 10px 20px 10px 50px;
    }
}

.header__nav-catalog.active::before {
    transform: scaleY(-1);
    transition: .2s;
}

@media (max-width: 730px) {
    .header__nav-catalog.active::before {
        top: 18px;
    }
}

.header__menu {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    top: 67px;
    width: 250px;
    height: 0;
    padding: 10px;
    background-color: #01AAEB;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

@media (max-width: 1200px) {
    .header__menu {
        top: 52px;
    }
}

@media (max-width: 730px) {
    .header__menu {
        top: 30px;
        z-index: 30;
        left: 50%;
        width: 230px;
        padding: 8px;
        transform: translateX(-50%);
    }
}

.header__menu.active {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    top: 67px;
    width: 250px;
    height: 399px;
    padding: 10px;
    background-color: #01AAEB;
    opacity: 1;
    visibility: visible;
    transition: .2s;
}

@media (max-width: 1200px) {
    .header__menu.active {
        top: 62px;
    }
}

@media (max-width: 730px) {
    .header__menu.active {
        top: 46px;
        z-index: 30;
        left: 50%;
        height: 318px;
        width: 230px;
        padding: 8px;
        transform: translateX(-50%);
    }
}

.header__menu-item {
    padding: 14px;
    color: #000002;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    border-bottom: solid 12px #fff;
    background-color: #f6f7fb;
    transition: .2s;
}

.header__menu-item:last-child {
    border-bottom: none;
}

.header__menu-item:hover {
    background-color: #e4e7f3;
    text-decoration: none;
    transition: .2s;
}

.header__menu-item:active {
    background-color: #d3d8eb;
    transition: .1s;
}

@media (max-width: 730px) {
    .header__menu-item {
        font-size: 16px;
        padding: 10px;
        border-bottom: solid 8px #fff;
        font-weight: 400;
    }
}

.header__burger {
    display: none;
    width: 25px;
    height: 25px;
    background: url(../img/icon/burger.svg) no-repeat center;
    background-size: 25px;
}

@media (max-width: 730px) {
    .header__burger {
        width: 25px;
        display: flex;
    }
}

.header__burger.active {
    background: url(../img/icon/cross.svg) no-repeat center;
    background-size: 25px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0 25px;
}

@media (max-width: 730px) {
    .header__nav {
        position: absolute;
        top: 46px;
        left: -30px;
        width: 160px;
        padding: 20px;
        flex-direction: column;
        background-color: #013E91;
        transform: scale(0.2);
        transform-origin: top left;
        transition: .2s;
        opacity: 0;
    }
}

.header__nav.active {
    margin: 0 auto 0 25px;
}

@media (max-width: 730px) {
    .header__nav.active {
        transform: scale(1);
        transform-origin: top left;
        transition: .2s;
        opacity: 1;
    }
}

.header__nav-item {
    margin: 20px 12px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}

@media (max-width: 1200px) {
    .header__nav-item {
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    .header__nav-item {
        font-size: 14px;
        margin: 8px;
    }
}

.header__search {
    position: relative;
    width: 220px;
    transition: .2s;
    z-index: 60;
}

@media (max-width: 1200px) {
    .header__search {
        width: 170px;
    }
}

@media (max-width: 992px) {
    .header__search {
        position: absolute;
        height: 50px;
        top: 70px;
        right: -10px;
        transform: translateY(-15px);
        visibility: hidden;
        opacity: 0;
    }
}

@media (max-width: 732px) {
    .header__search {
        top: 55px;
    }
}

.header__search.active {
    position: relative;
    width: 220px;
    transition: .2s;
    z-index: 60;
}

@media (max-width: 1200px) {
    .header__search.active {
        width: 170px;
    }
}

@media (max-width: 992px) {
    .header__search.active {
        visibility: visible;
        position: absolute;
        display: flex;
        height: 50px;
        top: 70px;
        right: -10px;
        transform: translateY(0);
        opacity: 1;
        transition: .2s;
    }
}

@media (max-width: 732px) {
    .header__search.active {
        top: 55px;
    }
}

.header__search-icon {
    position: absolute;
    z-index: 70;
    width: 24px;
    top: 12px;
    right: 10px;
}

@media (max-width: 992px) {
    .header__search-icon {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}

.header__search-input {
    width: 220px;
    padding: 11px;
    z-index: 60;
    border: solid 3px #01AAEB;
    border-radius: 0;
    background-color: #013E91;
    outline: none;
    color: #fff;
    font-size: 16px;
}

.header__search-input::-moz-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.header__search-input:-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.header__search-input::placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.header__search-input:focus {
    border: solid 3px #fff;
}

@media (max-width: 1200px) {
    .header__search-input {
        width: 170px;
        height: 45px;
    }
}

.header__search-icon-mini {
    display: none;
    z-index: 70;
}

.header__search-icon-mini:hover {
    cursor: pointer;
}

@media (max-width: 992px) {
    .header__search-icon-mini {
        display: flex;
    }
}

@media (max-width: 730px) {
    .header__search-icon-mini {
        order: 3;
    }
}

.intro {
    position: relative;
    background-color: #E4E5E9;
    z-index: 10;
}

@media (max-width: 992px) {
    .intro {
        background: url(../img/photo/intro_bg.png) no-repeat right -50px top 30px;
        background-color: #E4E5E9;
    }
}

@media (max-width: 992px) {
    .intro {
        background-position-x: 20px;
    }
}

.intro__inner {
    position: relative;
    height: 445px;
    background: url(../img/photo/intro_bg.png) no-repeat right top 30px;
}

@media (max-width: 992px) {
    .intro__inner {
        background: none;
    }
}

.intro__slider {
    position: absolute;
    top: 57.5%;
    left: 25%;
    width: 100vw;
    height: 140px;
    padding: 0 30px;
    background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1200px) {
    .intro__slider {
        left: 30%;
    }
}

@media (max-width: 992px) {
    .intro__slider {
        left: 35%;
    }
}

@media (max-width: 730px) {
    .intro__slider {
        left: 15%;
    }
}

.intro__title {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: .8;
}

.intro__subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 0;
    margin-bottom: 30px;
}

.intro__cubes {
    display: flex;
}

.intor_cube-inner {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border: solid 3px #013E91;
    transition: .2s;
}

.intor_cube-inner:hover {
    cursor: pointer;
}

.intor_cube-inner.active {
    background-color: #01AAEB;
    border: none;
    transition: .2s;
}

.faq {
    background-color: #f6f7fb;
}

.faq__inner {
    display: flex;
    padding: 60px 0;
}

.faq__img-block {
    width: 22%;
    margin-right: 30px;
    position: relative;
}

.faq__img-block::before {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    background-color: #013E91;
    top: -60px;
    left: 0;
}

@media (max-width: 1200px) {
    .faq__img-block::before {
        top: -104px;
    }
}

@media (max-width: 992px) {
    .faq__img-block::before {
        top: -153px;
    }
}

@media (max-width: 1200px) {
    .faq__img-block {
        order: 2;
        margin: auto 0;
        width: 30%;
    }
}

@media (max-width: 752px) {
    .faq__img-block {
        display: none;
    }
}

.faq__img {
    width: 100%;
}

.faq__info {
    width: 79%;
}

@media (max-width: 752px) {
    .faq__info {
        width: 100%;
    }
}

.faq__title {
    font-size: 37px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
}

@media (max-width: 410px) {
    .faq__title {
        font-size: 22px;
    }
}

.faq__text {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.6;
}

.grid {
    position: relative;
}

.grid::before {
    content: '';
    width: 100vw;
    height: 60px;
    background-color: #f6f7fb;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.grid--white::before {
    display: none;
}

.grid--about {
    padding: 50px 0;
}

.grid__inner {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
}

.contacts {
    grid-column: span 4;
    z-index: 10;
    max-width: 250px;
    max-height: 548px;
    padding: 10px;
    text-align: center;
    background: url(../img/photo/contacts_bg.jpg) no-repeat center/cover;
}

@media (max-width: 1200px) {
    .contacts {
        grid-column: span 5;
    }
}

@media (max-width: 992px) {
    .contacts {
        grid-column: span 18;
        max-width: 100%;
        margin-bottom: 30px;
    }
}

.contacts.down {
    margin-top: 40px;
    transition: .2s;
}

@media (max-width: 992px) {
    .contacts.down {
        margin-top: 40px;
    }
}

.contacts.down.active {
    margin-top: 440px;
    transition: .2s;
}

@media (max-width: 992px) {
    .contacts.down.active {
        margin-top: 40px;
    }
}

.contacts__block {
    display: flex;
    flex-direction: column;
    padding: 35px 25px 50px 40px;
    background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 992px) {
    .contacts__block {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 35px 0px 10px 40px;
    }
}

@media (max-width: 460px) {
    .contacts__block {
        padding: 30px 0 10px 0;
    }
}

.contacts__item {
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}

.contacts__item::before {
    content: '';
    width: 30px;
    height: 30px;
    background-size: 30px;
    background: url(../img/icon/loc.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -30px;
    top: 2px;
}

.contacts__item:nth-child(2):before {
    content: '';
    width: 30px;
    height: 30px;
    background-size: 30px;
    background: url(../img/icon/smart.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -30px;
    top: 2px;
}

.contacts__item:nth-child(3):before {
    content: '';
    width: 30px;
    height: 30px;
    background-size: 30px;
    background: url(../img/icon/mobile.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -30px;
    top: 2px;
}

.contacts__item:nth-child(4):before {
    content: '';
    width: 30px;
    height: 30px;
    background-size: 30px;
    background: url(../img/icon/email.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -30px;
    top: 2px;
}

.contacts__item:nth-child(5):before {
    content: '';
    width: 30px;
    height: 30px;
    background-size: 30px;
    background: url(../img/icon/clock.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -30px;
    top: 2px;
}

@media (max-width: 992px) {
    .contacts__item {
        width: calc(100%/3 - 10px);
        margin-left: 10px;
    }
}

@media (max-width: 612px) {
    .contacts__item {
        width: calc(100%/2 - 10px);
        margin-left: 10px;
    }
}

@media (max-width: 460px) {
    .contacts__item {
        width: 100%;
        margin-left: 50%;
        transform: translateX(-40%);
    }
}

.contacts__title {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 0 45px;
}

@media (max-width: 992px) {
    .contacts__title {
        font-size: 25px;
    }
}

.contacts__block-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000002;
}

@media (max-width: 992px) {
    .contacts__block-title {
        font-size: 13px;
    }
}

.contacts__block-text {
    font-size: 16px;
    font-weight: 400;
    color: #000002;
}

@media (max-width: 992px) {
    .contacts__block-text {
        font-size: 13px;
    }
}

.titlefilt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 0;
}

.titlefilt::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #013E91;
    position: absolute;
    bottom: 0;
}

.titlefilt__title {
    font-size: 36px;
    font-weight: 400;
}

@media (max-width: 630px) {
    .titlefilt__title {
        font-size: 26px;
    }
}

.titlefilt__filter {
    padding: 10px 90px 10px 13px;
    position: relative;
    background-color: #01AAEB;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: .2s;
}

.titlefilt__filter::after {
    content: '';
    width: 22px;
    height: 22px;
    background: url(../img/icon/check.png) no-repeat;
    position: absolute;
    right: 15px;
}

@media (max-width: 630px) {
    .titlefilt__filter::after {
        width: 18px;
        height: 18px;
        background-size: 18px;
    }
}

.titlefilt__filter:hover {
    cursor: pointer;
    background-color: #21c1fe;
    transition: .2s;
}

@media (max-width: 630px) {
    .titlefilt__filter {
        font-size: 12px;
        padding: 10px 50px 10px 13px;
        white-space: nowrap;
    }
}

.overview {
    grid-column: span 14;
    margin-left: 20px;
}

@media (max-width: 1200px) {
    .overview {
        grid-column: span 13;
    }
}

@media (max-width: 992px) {
    .overview {
        grid-column: span 18;
        margin: 0;
    }
}

.overview-product {
    padding-top: 45px;
}

.filter {
    display: flex;
    align-items: center;
    margin: 0 5px;
    position: relative;
    z-index: 20;
}

.filter::after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: #013E91;
    position: absolute;
    bottom: 0;
}

@media (max-width: 992px) {
    .filter {
        margin: 0;
    }
}

.filter__btn {
    width: calc(100%/4 - 10px);
    padding: 13px 0 17px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    background-color: #013E91;
    transition: .2s;
}

.filter__btn.blue {
    background-color: #01AAEB;
}

.filter__btn:hover {
    opacity: .8;
    transition: .2s;
    cursor: pointer;
}

@media (max-width: 992px) {
    .filter__btn {
        font-size: 15px;
        padding: 10px;
        width: 150px;
    }
}

@media (max-width: 375px) {
    .filter__btn {
        font-size: 10px;
    }
}

.filter__all {
    margin: 0 20px 5px auto;
    position: relative;
    font-size: 16px;
    font-weight: 800;
    color: #000002;
    text-transform: uppercase;
    transition: .2s;
}

.filter__all::after {
    content: '';
    width: 20px;
    height: 20px;
    background: url(../img/icon/arrow_blue.png) no-repeat center;
    position: absolute;
    right: -23px;
    transition: .2s;
}

@media (max-width: 600px) {
    .filter__all::after {
        top: -2px;
    }
}

@media (max-width: 535px) {
    .filter__all::after {
        top: 6px;
    }
}

.filter__all:hover {
    text-decoration: none;
    color: #01AAEB;
    transition: .2s;
}

.filter__all:hover::after {
    transform: translateX(5px);
    transition: .2s;
}

@media (max-width: 600px) {
    .filter__all {
        font-size: 12px;
        margin-top: 10px;
    }
}

@media (max-width: 375px) {
    .filter__all {
        font-size: 10px;
    }
}

.overview__inner {
    display: flex;
    flex-flow: row wrap;
    margin: 27px 0;
}

.overview__block {
    display: flex;
    flex-direction: column;
    width: calc(100%/4 - 10px);
    margin: 10px 5px;
    text-align: center;
    background-color: #f6f7fb;
    grid-column: span 2;
    transition: .2s;
}

.overview__block:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: .8;
    transition: .2s;
    background-color: #e4e7f3;
}

@media (max-width: 1200px) {
    .overview__block {
        width: calc(100%/3 - 10px);
    }
}

@media (max-width: 992px) {
    .overview__block {
        margin: 7px 5px;
        width: calc(100%/3 - 10px);
    }
}

@media (max-width: 620px) {
    .overview__block {
        width: calc(100%/2 - 10px);
    }
}

@media (max-width: 370px) {
    .overview__block {
        width: calc(100%/1 - 10px);
    }
}

.overview__block-title {
    font-size: 18px;
    font-weight: 600;
    padding: 17px 4px;
}

@media (max-width: 455px) {
    .overview__block-title {
        font-size: 14px;
    }
}

.overview__block-img {
    width: 100%;
    height: 100%;
}

.overview__block-text {
    font-size: 14px;
    font-weight: 300;
    padding: 10px 10px;
}

@media (max-width: 455px) {
    .overview__block-text {
        font-size: 12px;
    }
}

.selection {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 60px;
}

.selection::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #013E91;
    position: absolute;
    top: -2px;
}

.selection__page {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 5px;
}

@media (max-width: 535px) {
    .selection__page {
        display: none;
    }
}

.selection__number {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 535px) {
    .selection__number {
        margin: 0 auto;
    }
}

.selection__number-item {
    text-align: center;
    padding: 4px 12px;
    margin-bottom: 5px;
    color: #000002;
    font-size: 18px;
    font-weight: 400;
    transition: .2s;
}

.selection__number-item:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #E4E5E9;
    transition: .2s;
}

.selection__number-item:active {
    color: #fff;
    background-color: #01AAEB;
    transition: .2s;
}

.selection__number-item.active {
    background-color: #01AAEB;
    color: #fff;
}

.selection__number-img {
    width: 35px;
    height: 35px;
    padding: 11px;
    margin-right: 8px;
    background-color: #f6f7fb;
    transition: .2s;
}

.selection__number-img:hover {
    cursor: pointer;
    background-color: #E4E5E9;
    transition: .2s;
}

.selection__number-img:active {
    background-color: #01AAEB;
    transition: .2s;
}

.selection__number-img.img--right {
    margin-right: auto;
}

.keys {
    margin: 80px 5px;
}

.keys__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    padding: 15px 0;
}

.keys__head::after {
    content: '';
    width: 100%;
    height: 6px;
    background-color: #013E91;
    position: absolute;
    bottom: 0;
}

.keys__title {
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
}

@media (max-width: 730px) {
    .keys__title {
        font-size: 26px;
    }
}

@media (max-width: 450px) {
    .keys__title {
        font-size: 20px;
        margin-right: 10px;
    }
}

.keys__all {
    position: relative;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000002;
    margin-right: 20px;
    transition: .2s;
}

.keys__all::after {
    content: '';
    width: 20px;
    height: 20px;
    background: url(../img/icon/arrow_blue.png) no-repeat center;
    position: absolute;
    right: -24px;
    transition: .2s;
}

@media (max-width: 600px) {
    .keys__all::after {
        top: -2px;
    }
}

@media (max-width: 370px) {
    .keys__all::after {
        top: 8px;
    }
}

.keys__all:hover {
    text-decoration: none;
    color: #01AAEB;
    transition: .2s;
}

.keys__all:hover::after {
    transform: translateX(5px);
    transition: .2s;
}

@media (max-width: 600px) {
    .keys__all {
        font-size: 12px;
        margin-top: 10px;
    }
}

@media (max-width: 450px) {
    .keys__all {
        margin-top: 0;
    }
}

.keys__inner {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 570px) {
    .keys__inner {
        flex-wrap: wrap;
    }
}

.keys__block {
    max-width: 430px;
    transition: .2s;
}

.keys__block:hover {
    cursor: pointer;
    opacity: .7;
    transition: .2s;
}

@media (max-width: 1200px) {
    .keys__block {
        margin: 5px;
    }
}

@media (max-width: 570px) {
    .keys__block {
        margin: 10px auto;
    }
}

.keys__block-title {
    padding: 10px 45px;
    position: relative;
    background-color: #01AAEB;
    text-align: right;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    transition: .2s;
}

.keys__block-title::after {
    content: '';
    width: 20px;
    height: 20px;
    background: url(../img/icon/arrow_right.png) no-repeat center;
    position: absolute;
    right: 10px;
    top: 16px;
    transition: .2s;
}

.partners {
    background: url(../img/photo/partners.png) no-repeat left bottom;
    background-color: #E4E5E9;
    padding: 62px 0 52px;
}

.partners__inner {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
}

.partners__info {
    grid-column: span 4;
}

@media (max-width: 1200px) {
    .partners__info {
        grid-column: span 5;
    }
}

@media (max-width: 730px) {
    .partners__info {
        grid-column: span 18;
        margin: 0 auto 30px;
    }
}

.partners__title {
    margin-bottom: 10px;
    font-size: 37px;
    font-weight: 400;
    text-transform: uppercase;
}

.partners__text {
    font-size: 16px;
    font-weight: 200;
}

.partners__firm {
    grid-column: span 14;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 0 20px;
}

@media (max-width: 1200px) {
    .partners__firm {
        grid-column: span 13;
        justify-content: space-around;
    }
}

@media (max-width: 730px) {
    .partners__firm {
        grid-column: span 18;
        margin: 0;
    }
}

.partners__firm-img {
    max-width: 210px;
    margin: 0 5px 15px;
}

@media (max-width: 510px) {
    .partners__firm-img {
        width: calc(100%/2 - 10px);
    }
}

.intro-product {
    height: 397px;
    background: url(../img/photo/product_bg.jpg) no-repeat center/cover;
}

.intro-product__inner {
    display: flex;
    flex-direction: column;
    padding-left: 276px;
}

@media (max-width: 730px) {
    .intro-product__inner {
        padding: 0;
        display: flex;
        margin: 0 auto;
    }
}

.bread {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 35px 0;
}

.bread__item {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #000002;
}

@media (max-width: 340px) {
    .bread__item {
        font-size: 12px;
    }
}

.bread__item.active {
    font-weight: 200;
}

.bread__arrow {
    margin: 0px 5px 2px;
}

.intro__title {
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 10px 0 30px;
}

.intro__blocks {
    display: flex;
    flex-wrap: wrap;
}

.intro__block {
    position: relative;
    padding: 6px;
    width: 206px;
    height: 60px;
    margin: 0 15px 15px 0;
    color: #000002;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border-bottom: solid 4px #01AAEB;
    background: #fff;
    transition: .2s;
}

.intro__block:nth-child(3) {
    padding: 18px;
}

.intro__block:nth-child(4) {
    padding: 18px;
}

.intro__block:hover {
    background: #01AAEB;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

@media (max-width: 770px) {
    .intro__block {
        font-size: 14px;
        width: 180px;
        height: 55px;
    }
}

@media (max-width: 730px) {
    .intro__block {
        width: calc(100%/3 - 20px);
    }
}

@media (max-width: 625px) {
    .intro__block {
        font-size: 11px;
    }
}

@media (max-width: 540px) {
    .intro__block {
        font-size: 14px;
        width: calc(100%/2 - 15px);
        margin: 5px 5px 5px 5px;
    }
}

@media (max-width: 415px) {
    .intro__block {
        font-size: 12px;
    }
}

@media (max-width: 325px) {
    .intro__block {
        font-size: 10px;
    }
}

.product-inner {
    grid-column: span 14;
    margin-left: 20px;
    margin-bottom: 60px;
}

@media (max-width: 1200px) {
    .product-inner {
        grid-column: span 13;
    }
}

@media (max-width: 992px) {
    .product-inner {
        grid-column: span 18;
        margin: 0;
    }
}

.prodcard {
    margin-bottom: 40px;
}

.prodcard__title {
    position: relative;
    padding: 10px 0;
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 400;
}

.prodcard__title::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #013E91;
    position: absolute;
    bottom: 0;
}

@media (max-width: 1200px) {
    .prodcard__title {
        font-size: 30px;
    }
}

@media (max-width: 670px) {
    .prodcard__title {
        font-size: 20px;
    }
}

@media (max-width: 490px) {
    .prodcard__title {
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .prodcard__title {
        font-size: 12px;
    }
}

.prodcard__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.prodcard__photo {
    grid-column: span 6;
    margin-right: 10px;
    max-width: 450px;
    max-height: 450px;
}

@media (max-width: 1200px) {
    .prodcard__photo {
        max-width: 350px;
        max-height: 350px;
    }
}

@media (max-width: 715px) {
    .prodcard__photo {
        grid-column: span 12;
        margin: 0 auto;
    }
}

.prodcard__img {
    max-height: 100%;
    max-width: 100%;
}

.prodcard-info {
    display: flex;
    flex-direction: column;
    grid-column: span 6;
    margin-left: 10px;
    height: 100%;
}

@media (max-width: 715px) {
    .prodcard-info {
        grid-column: span 12;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 490px) {
    .prodcard-info {
        flex-direction: column;
    }
}

.prodcard__description {
    margin-bottom: auto;
}

.prodcard-logo {
    margin: 15px auto;
    max-width: 95px;
    max-height: 85px;
}

@media (max-width: 1200px) {
    .prodcard-logo {
        max-width: 55px;
        max-height: 45px;
    }
}

.prodcard-info__img {
    max-height: 100%;
    max-width: 100%;
}

.prodcard-info__text {
    line-height: 1.3;
    font-size: 16px;
    font-weight: 200;
}

@media (max-width: 1200px) {
    .prodcard-info__text {
        font-size: 14px;
        margin-bottom: 20px;
    }
}

@media (max-width: 715px) {
    .prodcard-info__text {
        max-width: 300px;
        margin-right: 10px;
    }
}

@media (max-width: 490px) {
    .prodcard-info__text {
        margin: 10px auto;
    }
}

.prodcard-call {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

@media (max-width: 715px) {
    .prodcard-call {
        max-width: 300px;
        margin: 40px 0 10px;
    }
}

.prodcard-call__info {
    font-size: 23px;
    font-weight: 300;
    line-height: 1.3;
}

.prodcard-call__info a {
    font-weight: 400;
}

@media (max-width: 1200px) {
    .prodcard-call__info {
        font-size: 16px;
    }
}

.prodcard-call__img {
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .prodcard-call__img {
        width: 40px;
    }
}

.prodtext__top {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.prodtext__top::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #013E91;
    position: absolute;
    bottom: 0;
    z-index: 40;
}

.prodtext__title {
    width: calc(100%/2 - 10px);
    padding: 14px;
    background-color: #013E91;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.prodtext__title.blue {
    background-color: #01AAEB;
}

.prodtext__title:hover {
    opacity: .8;
    transition: .2s;
    cursor: pointer;
}

@media (max-width: 992px) {
    .prodtext__title {
        font-size: 15px;
        padding: 10px;
        width: 150px;
    }
}

@media (max-width: 375px) {
    .prodtext__title {
        font-size: 10px;
    }
}

.prodtext__info {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.prodtext__text {
    grid-column: span 6;
}

@media (max-width: 510px) {
    .prodtext__text {
        grid-column: span 12;
    }
}

.prodtext__text-item {
    background-color: #edeef3;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 300;
}

.prodtext__text-item span {
    font-weight: 600;
}

@media (max-width: 660px) {
    .prodtext__text-item {
        font-size: 14px;
    }
}

.recommend {
    margin-top: 40px;
}

.recommend__title {
    font-size: 36px;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
}

.recommend__title::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #013E91;
    position: absolute;
    bottom: 0;
}

@media (max-width: 1200px) {
    .recommend__title {
        font-size: 22px;
    }
}

.aboutus {
    grid-column: span 14;
    margin-left: 24px;
    margin: 60px 65px 0;
}

@media (max-width: 1200px) {
    .aboutus {
        grid-column: span 13;
    }
}

@media (max-width: 998px) {
    .aboutus {
        grid-column: span 18;
        margin: 0px 0px;
    }
}

.aboutus__title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin: 20px 0;
}

.aboutus__text {
    font-size: 18px;
}

@media (max-width: 720px) {
    .aboutus__text {
        font-size: 16px;
    }
}

@media (max-width: 420px) {
    .aboutus__text {
        font-size: 14px;
    }
}

.address {
    padding: 20px 0;
    margin-bottom: 60px;
}

.address__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.address__title {
    font-size: 32px;
    font-weight: 400;
    margin: 20px 0 60px;
    text-align: center;
}

.address__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column: span 6;
}

@media (max-width: 720px) {
    .address__info {
        grid-column: span 12;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width: 480px) {
    .address__info {
        grid-column: span 12;
        flex-direction: column;
        margin: 0 auto;
    }
}

.address__item {
    position: relative;
    margin-left: 30px;
}

@media (max-width: 720px) {
    .address__item {
        margin: 10px;
        width: 40%;
    }
}

@media (max-width: 480px) {
    .address__item {
        width: 100%;
    }
}

.address__item::before {
    content: '';
    width: 30px;
    height: 30px;
    background-size: 30px;
    background: url(../img/icon/loc.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -30px;
    top: 0px;
}

.address__item:nth-child(2):before {
    background: url(../img/icon/smart.png);
    background-repeat: no-repeat;
}

.address__item:nth-child(1):before {
    background: url(../img/icon/mobile.png);
    background-repeat: no-repeat;
    top: 4px;
}

.address__item:nth-child(2):before {
    background: url(../img/icon/email.png);
    background-repeat: no-repeat;
    top: 4px;
}

.address__item:nth-child(4):before {
    background: url(../img/icon/clock.png);
    background-repeat: no-repeat;
    top: 2px;
}

.address__name {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000002;
}

.address__subname {
    display: block;
    color: #000002;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.map {
    width: 100%;
    grid-column: span 6;
    height: 350px;
}

@media (max-width: 720px) {
    .map {
        grid-column: span 12;
    }
}

.footer__top {
    background-color: #f6f7fb;
}

.footer__top-inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0 40px;
}

@media (max-width: 1000px) {
    .footer__top-inner {
        flex-direction: column;
    }
}

.footer__link {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .footer__link {
        margin: 20px 0;
        order: 1;
        text-align: center;
    }
}

.footer__link-main {
    font-size: 16px;
    font-weight: 600;
    color: #000002;
    margin-bottom: 10px;
}

.footer__logo {
    text-align: center;
}

@media (max-width: 1000px) {
    .footer__logo {
        margin: 20px 0;
        order: 2;
    }
}

.footer__logo-img {
    margin: 0 auto 10px;
}

.footer__logo-text {
    color: #000002;
}

.footer__info {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .footer__info {
        margin: 20px 0 0 20px;
        order: 3;
    }
}

.footer__info-number {
    margin-left: 30px;
    margin-bottom: 5px;
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #000002;
}

.footer__info-number::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    background-repeat: no-repeat;
    background: url(../img/icon/phone.png) no-repeat center;
    left: -40px;
    top: 4px;
}

.footer__info-mail {
    margin-left: 30px;
    position: relative;
    font-size: 17px;
    font-weight: 300;
    text-decoration: underline;
    color: #000002;
}

.footer__info-mail::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    background: url(../img/icon/mail.png) no-repeat center;
    left: -39px;
}

.footer__down {
    background-color: #013E91;
    padding: 15px 0;
}

.footer__down-inner {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 490px) {
    .footer__down-inner {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.footer__down-title {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 690px) {
    .footer__down-title {
        font-size: 12px;
    }
}
